:root {
  --moderate-violet: 263, 55%, 52%;
  --very-dark-grayish-blue: 217, 19%, 35%;
  --very-dark-blackish-blue: 219, 29%, 14%;
  --very-dark-night-blue: 220, 29%, 10%;
  --white: 0, 0%, 100%;
  --light-gray: 0, 0%, 81%;
  --light-grayish-blue: 210, 46%, 95%;
}

// --moderate-violet: hsl(263, 55%, 52%);
// --very-dark-grayish-blue: hsl(217, 19%, 35%);
// --very-dark-blackish-blue: hsl(219, 29%, 14%);
// --very-dark-night-blue: hsl(220, 29%, 10%);
// --white: hsl(0, 0%, 100%);
// --light-gray: hsl(0, 0%, 81%);
// --light-grayish-blue: hsl(210, 46%, 95%);